#content{
	margin-top: 20px;
}
.btn .btn-primary{
	background-color: #C0B283
}
.jumbotron p{
	font-size: 17px;
}
img{
	width:150px;
	height:150px;
}
.dropdown-menu{
	padding-left: 70px;
	padding-right: 70px;
}
.border{
	border: solid;
}
body{
	background-color: #dcdcdc;
}
.accordion {
    margin-bottom: 0;
    padding: 12px 10px 11px;
    background: none;
    background-color: #fff;
    border-top: 1px solid #ddd;
}
.x-link{
	font-size:20px;
}